services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    environment:
      - HOSTNAME=open-webui
      - OLLAMA_BASE_URL=http://172.28.0.3:11434
    ports:
      - "3000:8080"
    networks:
      rocm-network:
        ipv4_address: 172.28.0.2
    volumes:
      - ./User-Directories/open-webui:/app/backend/data
      - /etc/resolv.conf:/etc/resolv.conf:ro
    restart: always
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    security_opt:
      - "label=disable"
  ollama:
    image: getterup/ollama-rocm7.1:latest
    container_name: ollama
    ports:
      - "11434:11434"
    networks:
      rocm-network:
        ipv4_address: 172.28.0.3
    volumes:
      - ./User-Directories/ollama:/root/.ollama:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    environment:
      - HOSTNAME=ollama
      - OLLAMA_VULKAN=0
      - OLLAMA_DEBUG=2
      - OLLAMA_FLASH_ATTENTION=true
      - HSA_ENABLE_SDMA=0
      - OLLAMA_KEEP_ALIVE=-1
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_FLASH_ATTENTION=1
      - OLLAMA_GPU_OVERHEAD=0
      - OLLAMA_KEEP_ALIVE=1h
      - OLLAMA_LIBRARY_PATH="/usr/lib/ollama/rocm_v7"
      - ROCR_VISIBLE_DEVICES=0
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    ipc: host
    security_opt:
      - seccomp=unconfined
      - label=disable
  stable-diffusion.cpp:
    image: getterup/stable-diffusion.cpp-rocm7.1:gfx1151
    container_name: stable-diffusion.cpp
    ports:
      - "7860:7860"
    networks:
        rocm-network:
          ipv4_address: 172.28.0.4
    volumes:
      - ./User-Directories/sd.cpp-webui/outputs/any2video:/sd-webui/outputs/any2video:Z
      - ./User-Directories/sd.cpp-webui/outputs/img2img:/sd-webui/outputs/img2img:Z
      - ./User-Directories/sd.cpp-webui/outputs/imgedit:/sd-webui/outputs/imgedit:Z
      - ./User-Directories/sd.cpp-webui/outputs/txt2img:/sd-webui/outputs/txt2img:Z
      - ./User-Directories/sd.cpp-webui/outputs/upscale:/sd-webui/outputs/upscale:Z
      - ./User-Directories/sd.cpp-webui/models/checkpoints:/sd-webui/models/checkpoints:Z
      - ./User-Directories/sd.cpp-webui/models/clip:/sd-webui/models/clip:Z
      - ./User-Directories/sd.cpp-webui/models/controlnet:/sd-webui/models/controlnet:Z
      - ./User-Directories/sd.cpp-webui/models/embeddings:/sd-webui/models/embeddings:Z
      - ./User-Directories/sd.cpp-webui/models/loras:/sd-webui/models/loras:Z
      - ./User-Directories/sd.cpp-webui/models/photomaker:/sd-webui/models/photomaker:Z
      - ./User-Directories/sd.cpp-webui/models/taesd:/sd-webui/models/taesd:Z
      - ./User-Directories/sd.cpp-webui/models/unet:/sd-webui/models/unet:Z
      - ./User-Directories/sd.cpp-webui/models/upscale_models:/sd-webui/models/upscale_models:Z
      - ./User-Directories/sd.cpp-webui/models/vae:/sd-webui/models/vae:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    #environment:
    #  - HSA_OVERRIDE_GFX_VERSION="11.5.1"
    restart: unless-stopped
    security_opt:
      - seccomp=unconfined
      - label=disable
  comfyui:
    image: docker.io/getterup/comfyui-rocm7.1:latest
    container_name: comfyui
    environment:
      - ROCR_VISIBLE_DEVICES=1
      - COMFYUI_ENABLE_ROCM=True
      - GPU_ARCH=gfx1151
      - PYTORCH_TUNABLEOP_ENABLED=0
      - MIOPEN_FIND_MODE=NORMAL
      - AMD_SERIALIZE_KERNEL=1
      - HIP_VISIBLE_DEVICES=0
      - HSA_OVERRIDE_GFX_VERSION=11.0.0
      - MIOPEN_USER_DB_PATH=/tmp/.miopen
      - MIOPEN_CUSTOM_CACHE_DIR=/tmp/.miopen
    ports:
      - "8188:8188"
    networks:
      rocm-network:
        ipv4_address: 172.28.0.5
    volumes:
      - ./User-Directories/ComfyUI/:/app/ComfyUI:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    restart: unless-stopped
    security_opt:
      - seccomp=unconfined
      - label=disable
networks:
  rocm-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16