services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    environment:
      - HOSTNAME=open-webui
      - OLLAMA_BASE_URL=http://127.0.0.1:11434
      - COMFYUI_BASE_URL=http://127.0.0.1:8188
    ports:
      - "0.0.0.0:3000:8080"
    volumes:
      - ./open-webui:/app/backend/data
      - /etc/resolv.conf:/etc/resolv.conf:ro
    restart: always
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    security_opt:
      - "label=disable"
  ollama:
    image: getterup/ollama-rocm7.1:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    environment:
      - OLLAMA_DEBUG=2
      - OLLAMA_FLASH_ATTENTION=true
      - OLLAMA_KV_CACHE_TYPE="q8_0"
      - ROCR_VISIBLE_DEVICES=0
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    ipc: host
    security_opt:
      - seccomp=unconfined
      - label=disable
  stable-diffusion.cpp:
    image: getterup/stable-diffusion.cpp-rocm7.1:gfx1151
    container_name: stable-diffusion.cpp
    ports:
      - "7860:7860"
    volumes:
      - ./sd.cpp-webui/outputs/any2video:/sd-webui/outputs/any2video:Z
      - ./sd.cpp-webui/outputs/img2img:/sd-webui/outputs/img2img:Z
      - ./sd.cpp-webui/outputs/imgedit:/sd-webui/outputs/imgedit:Z
      - ./sd.cpp-webui/outputs/txt2img:/sd-webui/outputs/txt2img:Z
      - ./sd.cpp-webui/outputs/upscale:/sd-webui/outputs/upscale:Z
      - ./sd.cpp-webui/models/checkpoints:/sd-webui/models/checkpoints:Z
      - ./sd.cpp-webui/models/clip:/sd-webui/models/clip:Z
      - ./sd.cpp-webui/models/controlnet:/sd-webui/models/controlnet:Z
      - ./sd.cpp-webui/models/embeddings:/sd-webui/models/embeddings:Z
      - ./sd.cpp-webui/models/loras:/sd-webui/models/loras:Z
      - ./sd.cpp-webui/models/photomaker:/sd-webui/models/photomaker:Z
      - ./sd.cpp-webui/models/taesd:/sd-webui/models/taesd:Z
      - ./sd.cpp-webui/models/unet:/sd-webui/models/unet:Z
      - ./sd.cpp-webui/models/upscale_models:/sd-webui/models/upscale_models:Z
      - ./sd.cpp-webui/models/vae:/sd-webui/models/vae:Z
      - /etc/resolv.conf:/etc/resolv.conf:ro
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
    #environment:
    #  - HSA_OVERRIDE_GFX_VERSION="11.5.1"
    restart: unless-stopped
    security_opt:
      - seccomp=unconfined
      - label=disable